.row.m-image-text
  .large-3.columns
	  if context.url
	    a(href=context.url)
	    	img(src=context.image, alt= context.alt)
	  else
    	img(src=context.image, alt= context.alt)
  .large-9.columns
  	h3
  		| = context.title
  		small= context.subtitle

		if context.role
			.role= context.role
